{% extends 'base.html' %}
{% load static %}
{% block title %}detail{% endblock %}

{% block content %}

    <img src="{% static 'image/logo.png' %}" class="photo"> {# 로고 이미지 #}
    <nav>
        <a href="{% url 'dictionary:list' %}" id="list1" onmouseover="mover1()" onmouseout="mout1()">VIEWALL</a>     {# 네비게이션 바 #}
          <a href="{% url 'dictionary:m' %}" id="list2" onmouseover="mover2()" onmouseout="mout2()">MAMMALIA</a>
          <a href="{% url 'dictionary:a' %}" id="list3" onmouseover="mover3()" onmouseout="mout3()">AMPHIBIA</a>
          <a href="{% url 'dictionary:p' %}" id="list4" onmouseover="mover4()" onmouseout="mout4()">PISCE</a>
          <a href="{% url 'dictionary:b' %}" id="list5" onmouseover="mover5()" onmouseout="mout5()">BIRD</a>
          <a href="{% url 'dictionary:i' %}" id="list6" onmouseover="mover6()" onmouseout="mout6()">INVERTEBRATE</a>
          <a href="{% url 'dictionary:r' %}" id="list7" onmouseover="mover7()" onmouseout="mout7()">Reptile</a>
        <div id="indicator"></div>
    </nav>

    <form action="" method="get"> {# 검색기능 #}
            <div class="row">
                <div class="col">
                    <div class="col">
                        <input type="text" name="search_animal_name" value="{{ request.GET.search_animal_name }}" class="form-control">
                    </div>
                    <button type="submit" class="search btn-dark">Search</button>
                </div>
            </div>
        </form>
    <div class="contents">
        {% if dictionary.image != '' %}<img src=" {{ dictionary.image.url }}" class="photo2">{% endif %}<br>
        이름 : <a/>{{ dictionary.animal_name }} <p>
        과 : {{ dictionary.level }}<p>
        수명 : {{ dictionary.age }}<p>
        먹이 : {{ dictionary.eat }}<p>
        서식지 : {{ dictionary.live }}<p>
        내용 : {{ dictionary.description }}
    </div>
{% endblock %}